<head>
    <script src="lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="js/jquery.tablesorter.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/theme.default.css">
</head>

<h3>Branch Index</h3>
<div id="branchIndex">
    <table class="table tablesorter mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="branchIndexTablee">
        <thead>
            <tr>
                <th>Branch Name</th>
                <th>Open Now</th>
                <th>Number Of Assets</th>
                <th>Number Of Patrons</th>
            </tr>
        </thead>
        <tbody id="branchess">
            <tr>
        </tbody>
    </table>
</div>

<script>
    $('table').tablesorter({
        sortList: [
            [0, 0]
        ])
</script>

@*JS:*@
<script src="js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    getItems();
</script>



